{% extends "turmas/turma_dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li>/</li>
    <li><a href="{% url 'turmas:lessons' turma.slug %}">Aulas</a></li>
    <li>/</li>
    <li><a href="{% url 'turmas:lesson' turma.slug lesson.pk %}">{{ lesson }}</a></li>
    <li>/</li>
    <li><a href="{% url 'turmas:material' turma.slug material.pk %}">{{ material }}</a></li>
{% endblock %}

{% block dashboard_content %}
<div class="well">
    <h2><a href="{% url 'turmas:material' turma.slug material.pk %}">{{ material }}</a></h2>
    {{ material.embedded|safe }}
    <p>
        <a href="{% url 'turmas:lesson' turma.slug lesson.pk %}">Voltar</a>
    </p>
</div>
{% endblock %}
